* {
  padding: 0;
  margin: 0;
}
body {
  box-sizing: border-box;
  width: 100vw;
  font-size: 16px;

  font-family: Cambria, serif, sans-serif;
  background-color: var(--secondary-color-);
}
:root {
  --primary-color: #3173ad;
  --button-border-color: #dfa01f;
  --secondary-color-: #daf3ff;
  --active-color-: #6ea7e5;
}
header {
  padding: 0 2rem;
  height: 8vh;
  width: 100%;
  color: var(--primary-color);
  justify-content: space-between;
  align-items: center;
}
.flex {
  display: flex;
  flex-flow: row nowrap;
}

ul li {
  list-style-type: none;
  width: 140px;
}
ul li a {
  text-decoration: none;
  display: block;
  color: var(--primary-color);
  text-align: center;
  font-size: 1.05rem;
  padding: 0.5rem;
  font-weight: 450;
}
ul li a:hover {
  font-size: 1.1rem;
  font-weight: 500;
}
li:nth-child(5) {
  border: 1px solid var(--button-border-color);
  border-radius: 0.5rem;
}
.aboutUs {
  width: 100vw;
  height: 90vh;
  align-items: center;
  justify-content: space-between;
}
.about {
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 100%;
  padding: 0.5rem 2rem;
}
.walletSvg {
  width: 55%;
}
img {
  height: 600px;
  width: 750px;
}
.action-button {
  width: 80%;
  text-align: left;
}
button {
  height: 40px;
  width: 60%;
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
  background-color: var(--secondary-color-);
  font-size: 1.1rem;
  color: var(--primary-color);
  font-weight: 500;
  margin: 1.5rem 0;
  cursor: pointer;
}

button:hover {
  background-color: var(--active-color-);
  font-style: 700;
  color: whitesmoke;
}
h2 {
  text-align: left;
  width: 100%;
  font-size: 2.9rem;
  font-weight: bold;
  margin: 1.5rem 1rem;
}
h3 {
  font-size: 1.8rem;
}
.about p {
  font-size: 1.3rem;
}
header img,
.bodySvg,
.servicesSvg {
  position: absolute;
  left: 10px;
  z-index: -1;
}
.bodySvg {
  right: 500px;
  width: 1500px;
  z-index: -1;
  top: 420px;
}
.services {
  width: 100vw;
  height: 70vh;
  align-content: center;
  justify-content: center;
  text-align: center;
  padding: 3rem 2rem;
  z-index: -1;
}
.services > h4 {
  font-size: 2rem;
  padding: 2rem 0;
  font-weight: bold;
}

.ourServices {
  z-index: 4;
  margin: 2rem 3.2rem;
  padding: 1.5rem;
  width: 20%;
  height: 250px;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
}

.services > p {
  font-size: 1.4rem;
}
i {
  padding: 1.5rem;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  font-size: 48px;
  margin: 1rem;
  color: var(--primary-color);
}
.ourServices h4,
footer h4 {
  font-size: 1.2rem;
}
.benefits {
  flex-flow: column nowrap;
  padding: 2rem;
}
.benefits1,
.benefits2 {
  width: 100vw;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
}
.benefits1 h3,
.benefits2 h3,
.benefits p {
  text-align: right;
  width: 80%;
  font-size: 2rem;
  padding: 1rem;
}
.benefits1 {
  text-align: right;
}
.benefits2 {
  text-align: left;
}
.benefits2 h3 {
  text-align: left;
  width: 100%;
}
.benefits p {
  padding: 0.5rem;
  font-size: 1.2rem;
  letter-spacing: normal;
}
.benefits2 p {
  text-align: left;
}
.benefits button {
  width: 50%;
}
.benefits1 button {
  margin-right: 6rem;
}
.circle-highlight {
  position: relative;
}
.circle-highlight:before {
  content: "";
  z-index: -1;
  left: -0.5em;
  top: -0.1em;
  border-width: 2px;
  border-style: solid;
  border-color: var(--button-border-color);
  position: absolute;
  border-right-color: transparent;
  width: 100%;
  height: 2.2rem;
  transform: rotate(2deg);
  opacity: 0.7;
  border-radius: 50%;
  padding: 0.5rem;
}
.circle-highlight:after {
  content: "";
  z-index: -1;
  left: -0.5em;
  top: 0.1rem;
  padding: 0.1em 0.25em;
  border-width: 2px;
  border-style: solid;
  border-color: var(--button-border-color);
  border-left-color: transparent;
  border-top-color: transparent;
  position: absolute;
  width: 100%;
  height: 2.2rem;
  transform: rotate(-1deg);
  opacity: 0.7;
  border-radius: 50%;
}
.servicesSvg {
  left: -200px;
  width: 800px;
  z-index: -1;
  top: 1420px;
}
.partnerSection {
  width: 100vw;
  height: 50vh;
  background-color: var(--active-color-);
  align-items: center;
  flex-flow: column nowrap;
  justify-content: center;
}
.partnerSection button {
  width: 30%;
  background-color: #4079ac;
  color: whitesmoke;
  font-weight: 500;
}
.partnerSection h3 {
  color: whitesmoke;
}
.review-section {
  width: 100vw;
  height: 70vh;
  padding-bottom: 2rem;
}

.review-section h3 {
  text-align: center;
  font-size: 2.4rem;
  margin: 1rem;
  padding: 2rem;
}
.reviews {
  height: 100%;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.reviewspart {
  flex-flow: column nowrap;
  margin: 1rem 1.8rem;
  padding: 1rem 1.5rem;
  line-height: 1.4rem;
  width: 23%;
}

.reviewspart img {
  width: 160px;
  height: 160px;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  margin: 1.2rem;
}
.bio-review {
  align-content: center;
  align-items: center;

  text-align: center;
}
.reviewspart p {
  font-family: sans-serif, serif;
  font-size: 0.9rem;
}
footer {
  height: 50vh;
  width: 100vw;
  background-color: #4079ac;
  margin-top: 3rem;
  padding: 3rem;
}
.footer-form-nav {
  align-items: center;
  justify-content: space-between;
  width: 80%;
}
.footer-nav {
  flex-flow: column nowrap;
}
form {
  width: 30%;
  height: 95%;
  border-radius: 0.5rem;
  border: 1px solid grey;
  background-color: var(--primary-color);
  z-index: 2;
  text-align: center;
  box-shadow: 2px 2px 2px black;
  padding: 2rem;
}
input {
  display: block;
  padding: 0.5rem;
  margin: 0 auto;
  margin-top: 1.2rem;
  width: 80%;
  background-color: var(--primary-color);
  border: none;
  border-bottom: 1px solid black;
}
::placeholder {
  color: whitesmoke;
  font-size: 1rem;
}
footer button {
  width: 60%;
  background-color: var(--button-border-color);
  color: whitesmoke;
}
footer i {
  font-size: 27px;
  color: whitesmoke;
  border: none;
  padding: 0.2rem;
  margin: 0.2rem;
}
.footer-form-nav a {
  color: whitesmoke;
}
.socials {
  flex-flow: column nowrap;
}
.social-media {
  flex-flow: column nowrap;
}
footer h4 {
  text-align: center;
  font-size: 1.4rem;
}
form:hover {
  transition: all transform 0.8s;
  transform: translateY(-20px, 20px);
}
.bar-menu {
  display: none;
}
.menuDiv {
  display: none;
}
@media only screen and (max-width: 780px) {
  header nav {
    display: none;
  }
  .bar-menu {
    display: block;
    font-size: 30px;
    border: none;
    padding-right: 2rem;
    cursor: pointer;
  }
  .barDiv {
    display: block;
    position: absolute;
    top: 50px;
    right: 0;
    width: 300px;
    height: auto;
    background-color: #4079ac;
  }
  .review-section {
    height: auto;
  }
  .reviews {
    flex-flow: column nowrap;
    text-align: left;
  }
  .aboutUs,
  .reviewspart {
    flex-flow: column nowrap;
    text-align: left;
    height: auto;
    width: 100vw;
  }
  .reviewspart {
    width: 80%;
  }
  .about {
    width: 100%;
    text-align: center;
  }
  .aboutUs h2 {
    width: 85%;
    font-size: 2.3rem;
    text-align: center;
  }
  .aboutUs p {
    width: 82%;
    font-size: 1.2rem;
  }
  .benefits1,
  .benefits2 {
    text-align: center;
  }
  .services-div,
  .benefits1,
  .benefits2 {
    flex-flow: column nowrap;
    height: auto;
    margin: 2rem 0;
  }
  .benefits1 h3,
  .benefits2 h3 {
    text-align: center;
    width: 80%;
    font-size: 2rem;
  }
  .benefits1 p,
  .benefits2 p {
    font-size: 1rem;
    text-align: center;
  }

  img {
    margin: 0 auto;
    overflow-y: scroll;

    height: 300px;
    width: 400px;
  }
  .walletSvg {
    width: 100%;
  }
  .services > h4 {
    font-size: 1.8rem;
    padding: 2rem 0;
    font-weight: bold;
    text-align: center;
    width: 80%;
  }
  .services > p {
    font-size: 1rem;
    text-align: center;
    width: 80%;
  }
  .services {
    width: 100vw;
    height: auto;
    text-align: left;
    margin: 1rem;
    z-index: -1;
  }
  .ourServices {
    z-index: 4;
    margin: 0.3rem 0;
    width: 90%;
    height: auto;
    align-items: flex-start;
    height: auto;
    position: relative;
    text-align: left;
  }
  .ourServices p {
    width: 75%;
  }
  .partnerSection > button {
    width: 80%;
  }
  footer {
    height: auto;
  }
  .footer-form-nav {
    flex-flow: column nowrap;
  }
  form {
    margin: 0 auto;
    width: 100%;
    height: auto;
    position: relative;
    top: -130px;
  }
  footer button {
    width: 80%;
  }
  .social-media {
    flex-flow: row nowrap;
    text-align: center;
  }
  footer i {
    font-size: 20px;
  }
  .footer-nav {
    margin: 1rem 0;
  }
  .action-button,
  .why-us-buttons {
    width: 80%;
    text-align: center;
  }
}
