* {
  padding: 0;
  margin: 0;
}
body {
  box-sizing: border-box;
  font-size: 16px;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: Cambria, serif, sans-serif;
  background-color: var(--secondary-color-);
}
:root {
  --primary-color: #3173ad;
  --button-border-color: #dfa01f;
  --secondary-color-: #daf3ff;
  --active-color-: #6ea7e5;
}
header {
  padding: 0 2rem;
  height: 8vh;
  color: var(--primary-color);
  justify-content: space-between;
  align-items: center;
}
.flex {
  display: flex;
  flex-flow: row nowrap;
}
ul li {
  list-style-type: none;
  width: 140px;
}
ul li a {
  text-decoration: none;
  display: block;
  color: var(--primary-color);
  text-align: center;
  font-size: 1.05rem;
  padding: 0.5rem;
  font-weight: 550;
}
li:nth-child(5) {
  border: 1px solid var(--button-border-color);
  border-radius: 0.5rem;
}
.aboutUs {
  width: 100vw;
  height: 90vh;
  align-items: center;
  justify-content: space-between;
}
.about {
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 100%;
  padding: 0.5rem 2rem;
}
.walletSvg {
  width: 55%;
}
img {
  height: 600px;
  width: 750px;
}
button {
  height: 40px;
  width: 60%;
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
  background-color: var(--secondary-color-);
  font-size: 1.2rem;
  font-weight: 700;
  margin: 1.5rem 0;
  cursor: pointer;
  align-self: flex-start;
}
button:hover {
  background-color: var(--active-color-);
  font-size: 1.5rem;
}
h2 {
  text-align: left;
  width: 100%;
  font-size: 2.9rem;
  font-weight: bold;
  margin: 1.5rem 1rem;
}
h3 {
  font-size: 1.8rem;
}
.about p {
  font-size: 1.3rem;
}
header img {
  position: absolute;
  left: 10px;
  z-index: -1;
}
